* {
    margin: 0;
    padding: 0;
}

 .body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "header"
    "main"
    "footer"
    "header2"
    ;    
 }

.header {
    grid-area: header;
}

.header2 {
    grid-area: header2;
    position: sticky;
    bottom: 0;
}

.main {
    grid-area: main;
    margin-top: 20px;
    padding: 0 20px;
}

.main--imagen img{
    width: 100%;
}

.main--imagen__texto--centrado {
    color: white;
    position: absolute;
    top: 20%;
    left: 31%;
}

.footer {
    grid-area: footer;
}

.iconos--superior {
    display: flex;
    justify-content: space-between;
}

.iconos--inferior {
    display: flex;
    justify-content: space-between;
}

.modal--container_usuario {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease-in-out;
}

.my-modal {
    background-color: white;
    width: 440px;
    min-height: 296px;
    border-radius: 20px;
    padding: 20px;
}

.modal--container_visible {
    opacity: 1;
    visibility: visible;
}

#abrir--modal {
    cursor: pointer;
}

#abrir--modal span {
    font-size: 0;
}

.imagen--iconos__superior {
    width: 50px;
}

.imagen--iconos__inferior {
    width: 50px;
}

.textalign--center {
    text-align: center;
}

.contenedor--Productos {
   display: flex;
   flex-wrap: wrap;
}

.contenedor--Productos div article {
    margin: 12px 0 0 12px;
    cursor: pointer;
    width: 250px;
    height: 434px;
}

.contenedor--Productos div article img{
    width: 100%;
    object-fit: cover;
}

.blue {
    background: blue;
}

.green {
    background-color: green;
}

.yellowgreen {
    background-color: yellowgreen;
}

@media screen and (min-width: 768px) {
    .body{
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: 
        "header header header header"
        "main main main main"
        "footer footer footer footer "
        "header2 header2 header2 header2"
        ;
    }

    .main--imagen__texto--centrado {
        color: white;
        position: absolute;
        top: 50%;
        left: 45%;
    }

    #abrir--modal span {
        font-size: 15px;
    }
}