html {
    font-family: 'Montserrat', sans-serif;
}
body {
    margin: 0;
    background-color: #efefef;
}

.land {
    width: 100%;
    margin: 0 auto ;
}

.land img {
    margin: 0 auto;
}

.contenedor {
    width: 400px;
    margin: 0 auto;
}

section article {
    background-color: #fff;
    margin: 1rem 0;
    border-radius: 0.5rem;
    padding: 0.50rem 0;
}

section article h2, section article p {
    margin: 1rem;
}