body {
    margin: 0;
    padding: 0;
}

.textalign--center {
    text-align: center;
}

.blue {
    background: blue;
}

.green {
    background-color: green;
}

.yellowgreen {
    background-color: yellowgreen;
}